<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.info.mapper.KeywordMapper">

    <select id="keywordListByMybatis" resultType="com.example.demo.info.domain.Keyword">
        SELECT
        		id
               , user_id
               , user_name
               , keyword
               , start_date
               , end_date
               , target_price
               , use_yn 
        FROM keyword_data
        ORDER by
            id asc
    </select>
</mapper>